*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimIK0.1.0.0.dylib
libsimIK0.1.0.dylib
libsimIK0.1.dylib
libsimIK0.dylib
libsimIK0.so
libsimIK0.so.1
libsimIK0.so.1.0
libsimIK0.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
